<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/styles/style.css' />
  </head>
  <body>
    <nav>
      <a href="/">Home</a>
      {{#if user}} 
        <a href="/main">Secret Page</a>
        <a href="/private">Private</a>
        <form action="/authentication/sign-out" method="post">
          <button>Log Out</button>
        </form>
      {{else}} 
       <a href="/authentication/sign-up">Sign Up</a>
       <a href="/authentication/sign-in">Log In</a>
      {{/if}}

    </nav>
    {{{body}}}
  </body>
</html>
